<div class="container">
  <nav>
    <ul class="pagination paginationUI">
      <li class="page-item" [ngClass]="{disabled:currentPage === 0}">
        <a (click)="currentPage = currentPage - 1" class="page-link">Önceki</a>
      </li>
      <ng-container *ngFor="let image of images; let i = index">
        <li class="page-item" 
        [ngClass]="{active:i === currentPage}" 
        *ngIf="PageIndex(i)"
        >
          <a (click)="currentPage = i" class="page-link" href="#">{{i+1}}</a>
        </li>
      </ng-container>
      <li class="page-item" [ngClass]="{disabled:currentPage === images.length -1}">
        <a (click)="currentPage = currentPage + 1" class="page-link">Sonraki</a>
      </li>
    </ul>
  </nav>

  <div class="mainImg">
    <h4 style="color:white;">{{images[currentPage].title}}</h4>
    <img class="Img" [src]="images[currentPage].url">
  </div>

  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
      İlk Sayfadasın
    </div>
    <div *ngSwitchCase="1">
      İkinci Sayfadasın
    </div>
    <div *ngSwitchCase="2">
      Üçüncü Sayfadasın
    </div>
    <div *ngSwitchDefault>
      Birinci, İkinci veya Üçüncü sayfada değilsin.
    </div>
  </div>
</div>
<!-- 1. Kullanım:
[ngClass]="{active:i === currentPage}" -->

<!-- Bu kullanımı dashboard projesinde kullanacaksın:
[ngClass]="i === currentPage ? 'active' : 'passive'" -->


<!-- <a (click)="changePage(i)" class="page-link" href="#">{{i+1}}</a> -->