<nav>
  <ul class="pagination">
    <li class="page-item"
    [ngClass]="{disabled:currentPage === 0}"
    >
      <a (click)="currentPage = currentPage - 1" class="page-link">Önceki</a>
    </li>
    <li class="page-item"
    [ngClass]="{active:i === currentPage}"
    *ngFor="let image of images; let i = index"
    >
      <a (click)="currentPage = i" class="page-link" href="#">{{i+1}}</a>
    </li>
    <li class="page-item"
    [ngClass]="{disabled:currentPage === images.length -1}"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Sonraki</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url">
</div>

<!-- 1. Kullanım:
[ngClass]="{active:i === currentPage}" -->

<!-- Bu kullanımı dashboard projesinde kullanacaksın:
[ngClass]="i === currentPage ? 'active' : 'passive'" -->


<!-- <a (click)="changePage(i)" class="page-link" href="#">{{i+1}}</a> -->
